{
    "root": true,
    "extends": [
        "./packages/eslint-config",
        "./packages/eslint-config-typescript",
        "eslint:recommended",
        "plugin:react/recommended",
    ],
    "env": {
        "jest/globals": true,
        "browser": true,
        "node": true,
    },
    "globals": {
        "shallow": true,
        "render": true,
        "mount": true,
    },
    "plugins": ["jest", "react", "import", "jsx-a11y"],
    "settings": {
        "react": {
            "version": "latest"
        }
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-props-no-spreading": "off",
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "import/prefer-default-export": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "jsx-a11y/anchor-is-valid": ["error", {
            "components": ["Link"],
            "specialLink": ["route"],
            "aspects": ["invalidHref", "preferButton"]
        }],
        "jsx-a11y/label-has-for": [ 2, {
            "required": {
                "every": [ "id" ]
            }
        }],
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-static-element-interactions": "off",
    },
    "overrides": [
        {
            "files": [
                "**/*{-,.}{test,stories}.js",
                "**/*{-,.}{test,stories}.jsx",
                "**/*{-,.}{test,stories}.ts",
                "**/*{-,.}{test,stories}.tsx",
            ],
            "rules":{
                //devDependencies are all in the root
                "import/no-extraneous-dependencies": "off"
            }
        },
        {
            "files": [
                "**/*.js",
                "**/*.jsx"
            ],
            "parser": "babel-eslint",
            "rules": {
                "react/require-default-props": "off",
                "react/button-has-type": "off",
            }
        },
        {
            "files": [
                "**/*.ts",
                "**/*.tsx"
            ],
            "extends": [
                "plugin:@typescript-eslint/recommended",
            ],
            "parser": "@typescript-eslint/parser",
            "rules": {
                "react/jsx-filename-extension": "off",
                "react/prop-types": "off",
                "react/display-name": "off",
                "@typescript-eslint/explicit-function-return-type": "off",
            }
          },
    ]
}
